{% extends "core/layout.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-danger">Please correct the errors below</div>
        {% endif %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary mb-3">Sign Up</button>
    </form>
    <small>Already have an account? <a href="{% url 'login' %}">Log In</a></small>
</div>
{% endblock content %}
